.father-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  height: 200px;
  background-color: #cf4647;
  color: whitesmoke;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child {
  background-color: #cf4647;
  flex-grow: 1;
  flex-shrink: 0;
}

.box:nth-child(2) {
  background-color: orange;
  flex-grow: 2;
  flex-shrink: 0;
}

.box:last-child {
  background-color: teal;
  flex-grow: 1;
  flex-shrink: 0;
}
