.father{
  display: grid;
  grid-template-columns: [melon] 100px [potato] 200px  [peach] 100px [banana];
  grid-template-rows: [bicycle] 200px [truck] 100px [bus];
  column-gap: 20px;
  row-gap: 10px;
}

.child{
  background-color: tomato;
  display: flex;
  color: whitesmoke;
  font-size: 30px ;
  justify-content: center;
  align-items: center;
}

.child:last-child{
  background-color: aqua;
  /* grid-column-start: 2;
  grid-column-end: -1; */
  grid-column: potato / banana;
}

.child:first-child{
  background-color: seagreen;
  /* grid-row-start: 1;
  grid-row-end: -1; */
  grid-row: bicycle / bus;
}
